
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Laporan Peminjaman";
}

<div class="panel panel-flat">
    <div class="panel-body">
        <button type="button" class="btn bg-success btn-labeled" data-toggle="modal" data-target="#modal-tambah" onclick="CreateEdit(0);"><b><i class="icon-plus-circle2"></i></b> Tambah</button>
    </div>
    <br />
    <table class="table" id="tbl_data">
        <thead>
            <tr>
                <th class="text-center" width="5%">No</th>
                <th class="text-center">Judul</th>
                <th class="text-center">Pengarang</th>
                <th class="text-center">Penerbit</th>
                <th class="text-center">Tahun</th>
                <th class="text-center">Stok</th>
                <th class="text-center">Harga/Hari</th>
                <th class="text-center" width="10%">Aksi</th>
            </tr>
        </thead>

    </table>
</div>

<div id="modal-tambah" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="divModal">

        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        var tbl_buku;
        jQuery(document).ready(function ($) {
            tbl_buku = $("#tbl_data").DataTable({
                serverSide: true,
                processing: true,
                autoWidth:false,
                filter: true,
                scrollX:true,
                ajax: {
	                "url": "@Url.Action("List","Buku")",
                    "type": "POST",
                    "datatype": "json"
	            },
                columns: [
                    { "data": "no", "name": "no" },
                    { "data": "judul", "name": "judul" },
                    { "data": "pengarang", "name": "pengarang" },
                    { "data": "penerbit", "name": "penerbit"},
                    { "data": "tahun", "name": "tahun" },
                    { "data": "stok", "name": "stok" },
                    { "data": "harga", "name": "harga" },
                    {
                        "render": function (data, type, row) {
                            return "<a href='#' onclick=CreateEdit('" + row.id + "'); title='Edit' data-toggle='modal' data-target='#modal-tambah'><i class='icon-pencil7'></i></a> <a href='#' onclick=hapus('" + row.id + "'); title='Hapus'><i class='icon-trash text-danger'></i></a>";
                        }
                    },
                ]
            });
        })

    </script>
}


